.col-md-5{:"ng-controller"=>"TweetsController"}
  %h3 Find a user
  %form.form-inline{:"ng-submit" => "getTweets()"}
    .input-group
      .input-group-addon @
      %input.form-control{ :type => 'text', :"ng-model" => "username", :size => 30, :placeholder => "username" }
    %input.btn.btn-default{:type => 'submit', :value => 'Submit', :"ng-disabled" => "processing"}
    %i.fa.fa-spinner.fa-spin{:"ng-show" => "processing"}

  %p.text-danger{:"ng-show" => "error"}
    {{error}}

  %ul.list-group
    %li.list-group-item{:"ng-repeat" => "t in tweets", :"ng-animate" => "'animate'"} {{t.text}}
    
    
    
  
.col-md-6.col-md-offset-1{:"ng-controller"=>"FollowersController"}
  %h3 Common followers
  
  %form.form-inline{:"ng-submit" => "getFollowers()"}
    .input-group
      .input-group-addon @
      %input.form-control{ :type => 'text', :"ng-model" => "username1", :size => 15, :placeholder => "first user" }
    .input-group
      .input-group-addon @
      %input.form-control{ :type => 'text', :"ng-model" => "username2", :size => 15, :placeholder => "second user" }
    %input.btn.btn-default{:type => 'submit', :value => 'Submit', :"ng-disabled" => "processing"}
    %i.fa.fa-spinner.fa-spin{:"ng-show" => "processing"}

  %p.text-danger{:"ng-show" => "error"}
    {{error}}
    
  %ul.list-group
    %li.list-group-item.bg-warning{:"ng-show" => "!processing && followers.length == 0"} No common followers
    %li.list-group-item{:"ng-repeat" => "f in followers"} {{f}}
  