!!!
%html{:"ng-app" => "twitterControllers"}
  %head
    %title Teleborder Twitter Challenge
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.navbar
      %a.navbar-brand{:href => "/"} Teleborder Twitter Challenge
    #main{:role => "main"}
      .container
        .row
          = yield